<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form class="user" action="<?= \Module\HttpFoundation\Actions::url('main/auth/login') ?>" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <input type="text" name="identifier" class="form-control form-control-user" id="identifier" required aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="credential" class="form-control form-control-user" id="credential" required placeholder="Password">
                                </div>
                                <!--
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                </div>
                                -->
                                <a href="#" class="btn btn-primary btn-user btn-block">
                                    Login
                                </a>
                                <hr>
                                <!--
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>
                                -->
                                <?php
                                if (\Module\HttpFoundation\Actions::flashMessage(\Module\AdcashAsm\Actions\Auth\LoginAction::FLASH_MESSAGE_ID)->hasMessages()) {
                                    echo \Module\Foundation\Actions::view(
                                        'partial/flashMessage'
                                        , \Module\HttpFoundation\Actions::flashMessage(\Module\AdcashAsm\Actions\Auth\LoginAction::FLASH_MESSAGE_ID)->fetchMessages()
                                    );
                                } else {
                                ?>
                                <p class="text-justify">
                                    <strong>Full Stack Developer Assignment</strong> <br/><br/> Simple(est) orders management app,
                                    The data will be stored in MySQL database in these tables: order, product and user.
                                    <br/><br/><a class="small" href="https://github.com/phPoirot" target="_blank">Powered by Poirot Framework.</a>
                                </p>
                                <?php } ?>
                            </form>
                            <!--
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            <div class="text-center">
                                <a class="small" href="register.html">Create an Account!</a>
                            </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<?php \Module\HttpFoundation\Actions::htmlScript()->capture(); ?>
// <script>
    $('a.btn-user').click(function (e) {
        e.preventDefault();
        $('form.user').submit();
    });
// </script>
<?php \Module\HttpFoundation\Actions::htmlScript()->captureDone();