<!-- Bootstrap core JavaScript-->
<script src="<?php echo \Module\Foundation\Actions::path('theme') ?>/vendor/jquery/jquery.min.js"></script>
<script src="<?php echo \Module\Foundation\Actions::path('theme') ?>/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="<?php echo \Module\Foundation\Actions::path('theme') ?>/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="<?php echo \Module\Foundation\Actions::path('theme') ?>/js/sb-admin-2.min.js"></script>

<?= \Module\HttpFoundation\Actions::htmlScript(); ?>
