<!DOCTYPE html>
<html lang="en">

<head>
    <?= $this->capture('inc.header.phtml') ?>
</head>

<body id="page-top" <?= $bodyAttributes ?? '' ?>>

<!-- Page Wrapper -->
<div id="wrapper">

    <?= $this->view('widgets/menus/menu_sidebar') ?>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <?= $this->view('widgets/top_navbar') ?>

            <?= $content; ?>
        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<?php echo $this->capture('inc.footer.phtml') ?>

</body>

</html>
