<!DOCTYPE html>
<html lang="en">

<head>
    <?= $this->capture('inc.header.phtml') ?>
</head>

<body <?= $bodyAttributes ?? '' ?>>

<div class="container">

    <?= $content; ?>

</div>

<?php echo $this->capture('inc.footer.phtml') ?>

</body>

</html>
