<?php
/**
 * @var $orders
 * @var $filters
 */
?>
<div class="container-fluid">
    <div class="col-lg-12">

        <div class="card mb-2">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-9">
                        <div class="col-sm-12 col-md-4 float-left">
                            <select id="search_area" class="form-control small" multiple="multiple" size="1" style="width: 250px;">
                                <option <?php if($filters['scope'] == 'customer'){ ?> selected <?php } ?> value="customer">Customer</option>
                                <option <?php if($filters['scope'] == 'product'){ ?> selected <?php } ?> value="product">Product</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 float-left pr-0" style="margin-right: 0">
                            <select <?php if(!$filters['ident']){ ?> disabled <?php } ?> id="search_term" class="form-control" style="width: 350px;">
                                <option selected value="<?=$filters['ident']?>"><?=$filters['ident_title']?></option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-2 float-left pl-0">
                            <a href="#" class="action-search btn btn-primary btn-icon-split <?php if(!$filters['ident']){ ?>disabled<?php } ?>">
                                <span class="text">Show</span>
                            </a>
                            <a href="<?= \Module\HttpFoundation\Actions::url() ?>"> clear </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 text-right">
                        <div class="dataTables_length" id="dataTable_length">
                            <a class="action-filter-date" data-browse="all" <?php if ($filters['from']!='all') { ?> href="?from=all" <?php } ?>>All time</a> |
                            <a class="action-filter-date" data-browse="-7 days" <?php if ($filters['from']!='-7 days') { ?> href="?from=-7 days" <? } ?>>Last Week</a> |
                            <a class="action-filter-date" data-browse="<?= date('Y-m-d') ?>" <?php if ($filters['from']!='today') { ?>href="?from=today" <?php } ?>>Today</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Total Items</th>
                            <th scope="col">Total Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php /** @var \Module\AdcashAsm\Interfaces\Entities\iOrderEntity $order */
                        foreach ($orders as $order) { ?>
                            <tr id="order-row-<?= $order->getUid() ?>">
                                <td><?= $order->getCustomer()->getFullname() ?></td>
                                <td><?= $order->getCountItems() ?></td>
                                <td><?= $order->getCountTotalQuantities() ?></td>
                                <td><?= $order->getTotalPrice() ?>
                                    <?php if ($order->getTotalPromoPrice()->getValue()) { ?>
                                        <span class="text-info small"><?= $order->getTotalPromoPrice()->getValue() ?? '' ?> promo</span>
                                    <?php } ?>
                                </td>
                                <td><?= $order->getDateCreated()->format('Y-m-d')
                                    // better to have helper method to render date based on project settings ?>
                                    <small><?= $order->getDateCreated()->format('H:i:s') ?></small>
                                </td>
                                <td>
                                    <a href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/edit', ['orderId' => $order->getUid()]) ?>" data-id="<?= $order->getUid() ?>" class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#" data-href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/delete', ['orderId' => $order->getUid()]) ?>" data-id="<?= $order->getUid() ?>" data-toggle="modal" data-target="#confirmDelete" class="btn btn-danger btn-circle btn-sm btn-trash">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Order?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">After Delete an order all data will be lost, are you sure?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger action-order-delete" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>

<?php
\Module\HttpFoundation\Actions::htmlLink()
    ->attachFile( \Module\Foundation\Actions::path('theme') . '/vendor/select2/css/select2.min.css')
    ->attachFile(\Module\Foundation\Actions::path('theme') . '/vendor/select2/css/select2-bootstrap4.min.css')
;

\Module\HttpFoundation\Actions::htmlScript()
    ->attachFile(\Module\Foundation\Actions::path('theme') . '/vendor/select2/js/select2.js')
    ->attachFile(\Module\Foundation\Actions::path('theme') . '/js/search-page.js')
    ->capture()
?>
// <script>
    $('select#search_area').select2({
        theme: 'bootstrap4'
        , placeholder: 'Looking for ...'
        , allowClear: true
        , maximumSelectionLength: 1
    });

    $('select#search_term').select2({
        theme: 'bootstrap4'
        , allowClear: true
        , placeholder: 'Search Term ...'
        , ajax: {
            url: function () {
                let realm = $("select#search_area option:selected").val();
                let remoteApi = {
                    customer: '<?= \Module\HttpFoundation\Actions::url('main/panel/customers/search') ?>',
                    product: '<?= \Module\HttpFoundation\Actions::url('main/panel/products/search') ?>'
                };

                return remoteApi[realm];
            },
            dataType: 'json',
            processResults: function (data) {
                return data.result;
            }
        }
    });

// </script>
<?php
\Module\HttpFoundation\Actions::htmlScript()
    ->captureDone()
?>