<?php
use Module\AdcashAsm\Interfaces\Entities\iOrderEntity;

/**
 * @var iOrderEntity $order
 */
?>
<div class="container-fluid">
    <div class="col-lg-12">

        <!-- Basic Card Example -->
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Order</h6>
            </div>
            <div class="card-body">

                <?php
                echo \Module\Foundation\Actions::view(
                    'partial/flashMessage'
                    , \Module\HttpFoundation\Actions::flashMessage(\Module\AdcashAsm\Actions\Orders\EditOrderAction::FLASH_MESSAGE_ID)
                        ->fetchMessages()
                );
                ?>

                <form action="<?= \Module\HttpFoundation\Actions::url() ?>" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Customer</label>
                        <div class="col-sm-10">
                            <select id="customer_select" name="customer" class="form-control">
                                <option selected value="<?= $order->getCustomer()->getUid() ?>"><?= $order->getCustomer()->getFullname() ?></option>
                            </select>
                        </div>
                    </div>
                    <?php foreach ($products as $product) { ?>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Product</label>
                        <div class="col-7">
                            <select id="product_select" name="products[]" class="form-control">
                                <option selected value="<?= $product->getUid() ?>"><?= $product->getTitle() ?></option>
                            </select>
                        </div>
                        <small style="margin-top: 8px">x</small>
                        <div class="col">
                            <input type="number" name="product_quantities[]" class="form-control" placeholder="Quantity" value="<?= $product->getQuantity() ?>">
                        </div>
                    </div>
                    <?php } ?>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

<?php
\Module\HttpFoundation\Actions::htmlLink()
    ->attachFile( \Module\Foundation\Actions::path('theme') . '/vendor/select2/css/select2.min.css')
    ->attachFile(\Module\Foundation\Actions::path('theme') . '/vendor/select2/css/select2-bootstrap4.min.css')
;

\Module\HttpFoundation\Actions::htmlScript()
    ->attachFile(\Module\Foundation\Actions::path('theme') . '/vendor/select2/js/select2.js')
    ->capture()
?>
// <script>
$('select#customer_select').select2({
    theme: 'bootstrap4',
    allowClear: true,
    ajax: {
        url: '<?= \Module\HttpFoundation\Actions::url('main/panel/customers/search') ?>',
        dataType: 'json',
        processResults: function (data) {
            return data.result;
        }
    }
});
$('select#product_select').select2({
    theme: 'bootstrap4',
    allowClear: true,
    templateResult: function(state) {
        if (!state.id)
            return state.text;

        let $state = $(
            '<span><img style="width: 37px;" src="' + state.img + '" class="img-flag" /> ' + state.text + '</span>' );

        return $state;
    },
    ajax: {
        url: '<?= \Module\HttpFoundation\Actions::url('main/panel/products/search') ?>',
        dataType: 'json',
        processResults: function (data) {
            return data.result;
        }
    }
});
// </script>
<?php
\Module\HttpFoundation\Actions::htmlScript()
    ->captureDone()
?>