<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-beam"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Orders <sup>Management</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="<?= \Module\HttpFoundation\Actions::url('main/panel/dashboard') ?>">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        System Management
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Orders</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Add / Edit / List / Search</h6>
                <a class="collapse-item" href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/new') ?>">New Order</a>
                <a class="collapse-item" href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/all') ?>">List / Manage Orders</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/e1101">
            <i class="fas fa-fw fa-laugh-squint"></i>
            <span>Github</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://linkedin.com/in/payamnaderi">
            <i class="fas fa-fw fa-laugh-wink"></i>
            <span>Linkedin</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->