<?php
use Module\AdcashAsm\Interfaces\Entities\iOrderEntity;

/**
 * @var iOrderEntity[] $orders
 */
?>
<div class="card mb-2">
    <div class="card-header">
        Latest Orders
    </div>
    <div class="card-body">

        <table class="table">
            <caption>Latest products, <a href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/all')  ?>">view all</a></caption>
            <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Total Items</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col">Date Created</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <?php /** @var \Module\AdcashAsm\Interfaces\Entities\iOrderEntity $order */
            foreach ($orders as $order) { ?>
                <tr id="order-row-<?= $order->getUid() ?>">
                    <td><?= $order->getCustomer()->getFullname() ?></td>
                    <td><?= $order->getCountItems() ?></td>
                    <td><?= $order->getCountTotalQuantities() ?></td>
                    <td><?= $order->getTotalPrice() ?>
                        <?php if ($order->getTotalPromoPrice()->getValue()) { ?>
                            <span class="text-info small"><?= $order->getTotalPromoPrice()->getValue() ?? '' ?> promo</span>
                        <?php } ?>
                    </td>
                    <td><?= $order->getDateCreated()->format('Y-m-d')
                        // better to have helper method to render date based on project settings ?>
                        <small><?= $order->getDateCreated()->format('H:i:s') ?></small>
                    </td>
                    <td>
                        <a href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/edit', ['orderId' => $order->getUid()]) ?>" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" data-href="<?= \Module\HttpFoundation\Actions::url('main/panel/orders/delete', ['orderId' => $order->getUid()]) ?>" data-id="<?= $order->getUid() ?>" data-toggle="modal" data-target="#confirmDelete" class="btn btn-danger btn-circle btn-sm btn-trash">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Order?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">After Delete an order all data will be lost, are you sure?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger action-order-delete" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>

<?php

\Module\HttpFoundation\Actions::htmlScript()
    ->attachFile(\Module\Foundation\Actions::path('theme') . '/js/search-page.js')
;
?>